@import"https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap";

body,
*,
button {
    font-family: "Poppins", sans-serif
}

.navbar {
    padding: 0
}

.navbar .menu-btn {
    font-size: 50px;
    font-weight: bold
}

.navbar .navbar-brand img {
    height: 77px
}

@media(min-width: 768px) {
    .navbar .navbar-brand img {
        height: auto
    }
}

.banner {
    background: #000 url("../img/banner_graphics.webp") no-repeat left center;
    background-size: cover;
    min-height: calc(100vh - 87px);
    display: flex;
    align-items: center;
    justify-content: center
}

.banner .bannerWrap {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px
}

@media(min-width: 768px) {
    .banner {
        min-height: calc(100vh - 117px)
    }
}

.banner h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase
}

@media(min-width: 768px) {
    .banner h1 {
        font-size: 62px;
        line-height: 72px
    }
}

@media(min-width: 1600px) {
    .banner h1 {
        font-size: 88px;
        line-height: 100px
    }
}

.banner p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 15px 0 25px
}

@media(min-width: 768px) {
    .banner p {
        font-size: 22px;
        line-height: 32px;
        margin: 25px 0 35px
    }
}

.banner .btn-banner {
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px
}

.banner .btn-banner img {
    filter: invert(0%);
    transition: all .3s ease
}

.banner .btn-banner:hover {
    background: #fff;
    color: #000
}

.banner .btn-banner:hover img {
    filter: invert(100%)
}

.banner .contentWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

@media(min-width: 768px) {
    .banner .contentWrap {
        min-height: 600px
    }
}

.banner .carousel-item img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    -o-object-fit: contain;
    object-fit: contain
}

.section_bg_card {
    background: url("../img/how_make_card.webp") no-repeat center right;
    filter: saturate(0);
    background-size: contain;
    transition: all .3s ease
}

.section_bg_card:hover {
    filter: saturate(1)
}

.section {
    padding: 60px 0
}

@media(min-width: 768px) {
    .section {
        padding: 100px 0
    }
}

@media(min-width: 1200px) {
    .section {
        padding: 150px 0
    }
}

.section h2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    text-transform: uppercase
}

@media(min-width: 768px) {
    .section h2 {
        font-size: 52px;
        line-height: 58px
    }
}

@media(min-width: 1200px) {
    .section h2 {
        font-size: 72px;
        line-height: 80px
    }
}

.section p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 15px 0 25px
}

@media(min-width: 768px) {
    .section p {
        font-size: 22px;
        line-height: 32px;
        margin: 25px 0 35px
    }
}

.section .max-para {
    max-width: 500px
}

.section .btn-section {
    border: 2px solid #000;
    border-radius: 6px;
    color: #000;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px
}

.section .btn-section img {
    filter: invert(100%);
    transition: all .3s ease
}

.section .btn-section:hover {
    background: #000;
    color: #fff
}

.section .btn-section:hover img {
    filter: invert(0%)
}

.section .headFeature {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 600;
    font-size: 20px;
    line-height: 3px
}

.section .headFeature img {
    filter: invert(100%);
    transition: all .3s ease
}

.rectangle_bg {
    background-color:
        #000000;
    width: 100%;
    height: 80%;

}

